main {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.flex {
    display: flex;
}
.ourTeam {
    flex-direction: column;
}
.ourTeam h1 {
    align-self: center;
    font-size: 4em;
    font-weight: 200;
}

.ourTeam h1:after {
    display: block;
    content: "";
    width: 0%;
    margin: auto;
    height: 4px;
    background-color: #bd0000;
    transition: all 0.3s ease-in-out;
}

.ourTeam h1:hover:after {
    width: 100%;
}

.ourTeam img {
    border-radius: 50%;
    height: 100px;
}

.ourTeamContent {
    flex-flow: row wrap;
}

.ourTeamContent h2 {
    width: 60px;
    background-color: #bd0000;
    color: #fff;
    font-weight: 200;
    font-size: 1em;
    padding-top: 2px;
    padding-left: 7px;
}

.CEO, .COO, .CTO, .CFO {
    width: 50%;
    /* height: 100px; */
    box-sizing: border-box;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.team-description {
    flex-direction: column;
    justify-content: center;
    margin: auto 10px;
}
.team-description p {
    font-size: 0.9em;
    color: #bbb;
}