body {
    display: flex;
  justify-content: center;
  min-height: 100vh;
  
}

main {
    width: 50%;
    display: flex;
    flex-direction: column;
}


.events{
    display: flex;
    box-sizing: border-box;
    margin-bottom: 200px;
    font-size: 26px;
    
}

.events2{
    display: flex;
    box-sizing: border-box;
    

    
}

 .salsa{
    position: relative;
    box-sizing: border-box ;
    border-radius: 1px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .3);   
    width : 60%;
    padding: 20px;  
    text-align: center;
    font-size: 14px;
    height:80%;
   

 }
 .christ{
    position: relative;
    box-sizing: border-box ;
    border-radius: 1px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .3); 
    width : 60%;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    height:80%;
    
     
}
.finance{
    position: relative;
    box-sizing: border-box ;
    border-radius: 1px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .3); 
    width : 60%;
    padding: 20px;  
    text-align: center;
    font-size: 14px;
    height:80%;         
}
.title{
    box-sizing: border-box;
    background-color: rgb(155, 16, 16);
    color: white;
    text-align: center;
    text-align: top;
    height:10%;
    width : 60%;
    
}
.schedule{
    flex-wrap: wrap;
    
}
h1{
    margin: 0;
}
h2{
    color: rgb(39, 143, 240);
    
}
.img{

}
.underline{
    text-align: center;
    width : 50%;
    border-bottom: 4px solid;
    border-color: rgb(138, 15, 15);
    margin-left: 100px;
    margin-right: 100px;
}
